@import "./shared/fonts";
@import "./shared/colors";
@import "./shared/mixins";

// COMPONENTS
@import "./header";

// PAGES
@import "./about";
@import "./cv";
@import "./index";
@import "./portfolio";
@import "./blogs";
@import "./slate-editor";

html, body {
  height: 100%;
  width: 100%;
  font-family: "Montserrat", "Helvetica";
}

.absolute {
  position: absolute;
}

.clickable {
  cursor: pointer;
}

.error {
  font-weight: 700;
  color: red;
}

.self-typed {
  font-size: 31px;
  font-weight: bold;
  letter-spacing: 2px;
  color: rgba(#ffffff, 1);
}

.base-page {
  padding: 150px 0;
  color: rgba(#000000, 1);
  background-color: rgba(#ecedee, 1);
  min-height: 100vh;

  .page-header {
    .page-header-title {
      font-weight: 700;
      color: rgba(#000000, 1);
      display: inline-block;
      margin-bottom: 20px;
    }
  }
}
